<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Pen Survey</title>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="stylesheets/surveys.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <div class="header">
        <br />
        <a href="/" class="logo">Pen Survey</a>
        <a class="login active" href="/">Active Surveys</a>
        <a class="expiredsurveys" href="/expiredsurveys">Expired Surveys</a>
        <a href="/drafts" class="createSurvey menu cf">Drafts</a>
        <a href="/logout" class="register">Logout</a>
    </div>
    <div class="survey-list">
        <% questionnaires.forEach(function(questionnaire){  %>
            <div class="survey-box" onclick="SelectSurvey('\<%= questionnaire.idquestionnaire %>\');"> <h1> <%= questionnaire.title %> </h1 ><p><%= questionnaire.timestamppost.toDateString() %></p><p> <%= questionnaire.note %> </p></div >;
        <% })  %>
        
    </div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
</script>

<script>
    var SelectSurvey = function (id)
    {
        window.location = "/survey?id=" + id;
    }
</script>
